<!DOCTYPE html>
<html>
    <head>
        <title>LendBorrow</title>
    </head>

    {% extends "lendborrow/base.html" %}
    <hr>
    {% block content %}
    <body>
        <h1>{{mode}}</h1>
            {{user.email}}
            {% if registered %}
                {{user}}
                <strong>Thank you for registering!</strong>
                <a href="/">Return to the homepage.</a><br />
            {% else %}
                <form id="user_form" method="post" action="/register/"{% csrf_token %}
                    enctype="multipart/form-data">
                    {{ user_form.as_p }}
                    {{ profile_form.as_p }}
                    <input type="submit" name="submit" value="Register" />
                </form>
            {% endif %}
    </body>
    {% endblock %}
</html>